[submodule "cjm-css"]
	path = html/cjm-css
	url = git@github.com:cuppajoeman/cjm-css.git
[submodule "fsweb"]
	path = scripts/fsweb
	url = git@github.com:simple-web-tools/fsweb.git
[submodule "scripts/fs_utils"]
	path = scripts/fs_utils
	url = git@github.com:py-garden/fs_utils.git
[submodule "scripts/fast-html"]
	path = scripts/fast-html
	url = git@github.com:simple-web-tools/fast-html.git
[submodule "code/scripts"]
	path = code/scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "code/src/utility/meta_utils"]
	path = code/src/utility/meta_utils
	url = git@github.com:cpp-toolbox/meta_utils.git
[submodule "code/src/utility/text_utils"]
	path = code/src/utility/text_utils
	url = git@github.com:cpp-toolbox/text_utils.git
[submodule "code/src/utility/regex_utils"]
	path = code/src/utility/regex_utils
	url = git@github.com:cpp-toolbox/regex_utils.git
[submodule "code/src/utility/fs_utils"]
	path = code/src/utility/fs_utils
	url = git@github.com:cpp-toolbox/fs_utils.git
[submodule "code/src/utility/cpp_parsing"]
	path = code/src/utility/cpp_parsing
	url = git@github.com:cpp-toolbox/cpp_parsing.git
[submodule "code/src/utility/logger"]
	path = code/src/utility/logger
	url = git@github.com:cpp-toolbox/logger.git
[submodule "code/src/utility/collection_utils"]
	path = code/src/utility/collection_utils
	url = git@github.com:cpp-toolbox/collection_utils.git
[submodule "code/src/graphics/vertex_geometry"]
	path = code/src/graphics/vertex_geometry
	url = git@github.com:cpp-toolbox/vertex_geometry.git
[submodule "code/src/graphics/draw_info"]
	path = code/src/graphics/draw_info
	url = git@github.com:cpp-toolbox/draw_info.git
[submodule "code/src/utility/glm_printing"]
	path = code/src/utility/glm_printing
	url = git@github.com:cpp-toolbox/glm_printing.git
[submodule "code/src/utility/transform"]
	path = code/src/utility/transform
	url = git@github.com:cpp-toolbox/transform.git
[submodule "code/src/utility/unique_id_generator"]
	path = code/src/utility/unique_id_generator
	url = git@github.com:cpp-toolbox/unique_id_generator.git
[submodule "code/src/utility/turns"]
	path = code/src/utility/turns
	url = git@github.com:cpp-toolbox/turns.git
[submodule "code/src/system_logic/toolbox_engine"]
	path = code/src/system_logic/toolbox_engine
	url = git@github.com:cpp-toolbox/toolbox_engine.git
[submodule "code/src/graphics/fps_camera"]
	path = code/src/graphics/fps_camera
	url = git@github.com:cpp-toolbox/fps_camera.git
[submodule "code/src/input/input_state"]
	path = code/src/input/input_state
	url = git@github.com:cpp-toolbox/input_state.git
[submodule "code/src/utility/config_file_parser"]
	path = code/src/utility/config_file_parser
	url = git@github.com:cpp-toolbox/config_file_parser.git
[submodule "code/src/graphics/input_graphics_sound_menu"]
	path = code/src/graphics/input_graphics_sound_menu
	url = git@github.com:cpp-toolbox/input_graphics_sound_menu.git
[submodule "code/src/input/glfw_lambda_callback_manager"]
	path = code/src/input/glfw_lambda_callback_manager
	url = git@github.com:cpp-toolbox/glfw_lambda_callback_manager.git
[submodule "code/src/graphics/shader_cache"]
	path = code/src/graphics/shader_cache
	url = git@github.com:cpp-toolbox/shader_cache.git
[submodule "code/src/utility/fixed_frequency_loop"]
	path = code/src/utility/fixed_frequency_loop
	url = git@github.com:cpp-toolbox/fixed_frequency_loop.git
[submodule "code/src/graphics/shader_standard"]
	path = code/src/graphics/shader_standard
	url = git@github.com:cpp-toolbox/shader_standard.git
[submodule "code/src/graphics/batcher"]
	path = code/src/graphics/batcher
	url = git@github.com:cpp-toolbox/batcher.git
[submodule "code/src/sound/sound_system"]
	path = code/src/sound/sound_system
	url = git@github.com:cpp-toolbox/sound_system.git
[submodule "code/src/graphics/ui"]
	path = code/src/graphics/ui
	url = git@github.com:cpp-toolbox/ui.git
[submodule "code/src/graphics/colors"]
	path = code/src/graphics/colors
	url = git@github.com:cpp-toolbox/colors.git
[submodule "code/src/input/window"]
	path = code/src/input/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "code/src/input/mouse"]
	path = code/src/input/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "code/src/utility/observable"]
	path = code/src/utility/observable
	url = git@github.com:cpp-toolbox/observable.git
[submodule "code/src/utility/linalg_utils"]
	path = code/src/utility/linalg_utils
	url = git@github.com:cpp-toolbox/linalg_utils.git
[submodule "code/src/utility/temporal_binary_signal"]
	path = code/src/utility/temporal_binary_signal
	url = git@github.com:cpp-toolbox/temporal_binary_signal.git
[submodule "code/src/utility/stopwatch"]
	path = code/src/utility/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git
[submodule "code/src/graphics/grid_font"]
	path = code/src/graphics/grid_font
	url = git@github.com:cpp-toolbox/grid_font.git
[submodule "code/src/utility/expiring_temporal_vector"]
	path = code/src/utility/expiring_temporal_vector
	url = git@github.com:cpp-toolbox/expiring_temporal_vector.git
